PORT=3333
HOST=0.0.0.0
NODE_ENV=development
# generate a app secret with: openssl rand -base64 32
APP_KEY=<your_app_key>
DRIVE_DISK=local
DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=5432
PG_USER=<your_username>
PG_PASSWORD=<your_password>
PG_DB_NAME=<your_db_name>
